apiVersion: apps/v1
kind: Deployment
metadata:
  name: rentalservice-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rentalservice
  template:
    metadata:
      labels:
        app: rentalservice
    spec:
      containers:
      - name: rentalservice
        image: tomguittet/rentalservice-tom:latest
        ports:
        - containerPort: 8080